<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msd.com.contacts" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <permission
        android:name="msd.com.contacts.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="msd.com.contacts.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContact"
            android:label= "New Conatct"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".listLayout"
            android:label="All Contacts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAVKNK-Tp8MJXvcjGZ44nR-rMRSF0B6C6o" />

        <activity
            android:name=".Update"
            android:label="@string/title_activity_update"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Delete"
            android:label="@string/title_activity_delete"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Maps"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ContactInformation"
            android:label="@string/title_activity_contact_information"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
